.cache
compile_commands.json
.vscode/*
!.vscode/settings.json

ex00/*
!ex00/Makefile
!ex00/main.cpp
!ex00/AConvert.hpp
!ex00/AConvert.cpp
!ex00/CharConvert.hpp
!ex00/CharConvert.cpp
!ex00/IntConvert.hpp
!ex00/IntConvert.cpp
!ex00/FloatConvert.hpp
!ex00/FloatConvert.cpp
!ex00/DoubleConvert.hpp
!ex00/DoubleConvert.cpp

ex01/*
!ex01/Makefile
!ex01/main.cpp
!ex01/Data.hpp
!ex01/Data.cpp
!ex01/Serializer.hpp
!ex01/Serializer.cpp

ex02/*
!ex02/Makefile
!ex02/main.cpp
!ex02/Base.hpp
!ex02/A.hpp
!ex02/B.hpp
!ex02/C.hpp
