.cache
compile_commands.json
.vscode/*
!.vscode/settings.json

ex00/*
!ex00/Makefile
!ex00/main.cpp
!ex00/AConvert.hpp
!ex00/AConvert.cpp
!ex00/CharConvert.hpp
!ex00/CharConvert.cpp
!ex00/IntConvert.hpp
!ex00/IntConvert.cpp
!ex00/FloatConvert.hpp
!ex00/FloatConvert.cpp
!ex00/DoubleConvert.hpp
!ex00/DoubleConvert.cpp
